<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clover.BackupDirOnDestVol</key>
	<data>
	WWVz
	</data>
	<key>Clover.KeepBackupLimit</key>
	<data>
	MTAw
	</data>
	<key>Clover.Theme</key>
	<data>
	Ym9vdGNhbXA=
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	gA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	8A==
	</data>
	<key>backlight-level</key>
	<data>
	2Ao=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	Q4E8QQAAAABgFCT9UkRNqA==
	</data>
	<key>bootercfg</key>
	<data>
	KAA=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjIxM0QzNUM5LUE3
	RTctNDJFMi1BQkY5LTM1QzY3N0Y4NUMzNTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAUAAAAAAAQBKgACAAAAIoAMAAAAAADIHW0HAAAA
	AMk1PSHnp+JCq/k1xnf4XDUCAn//BAA=
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjIxM0QzNUM5LUE3
	RTctNDJFMi1BQkY5LTM1QzY3N0Y4NUMzNTwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAUA//8AAAQBKgACAAAAIoAMAAAAAADIHW0HAAAA
	AMk1PSHnp+JCq/k1xnf4XDUCAn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAGg==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-CLKH-{clh</key>
	<data>
	AABwgAABGUA=
	</data>
	<key>fakesmc-key-CLKT-ui32</key>
	<data>
	AAE07g==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	B6AHAA==
	</data>
	<key>fakesmc-key-HI0N-ui8</key>
	<data>
	FQ==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSDW-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSLD-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-NATJ-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-NATi-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-NTOK-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-QENA-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajE2ajE3AAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhUPAAAH
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajE3AAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	aWpsZHh5eWd555qEaU1hYw==
	</data>
	<key>install-product-url</key>
	<data>
	eC1vc3Byb2R1Y3Q6Ly9DMjA4NTM2RS0xMURBLTNFQzctQkY4OS01RTIwRDdFNEM2NkQv
	bWFjT1MlMjBJbnN0YWxsJTIwRGF0YQ==
	</data>
	<key>intel-backlight-level</key>
	<data>
	AAQAAA==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	emgtSGFucy1DTjow
	</data>
	<key>previous-system-uuid</key>
	<data>
	QzIwODUzNkUtMTFEQS0zRUM3LUJGODktNUUyMEQ3RTRDNjZE
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAUA//8AAAQBKgACAAAAIoAMAAAAAADIHW0HAAAA
	AMk1PSHnp+JCq/k1xnf4XDUCAn//BAA=
	</data>
</dict>
</plist>
