<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppPathAsFirstArg</key>
	<true/>
	<key>Creator</key>
	<string>Platypus-4.4</string>
	<key>DropSuffixes</key>
	<array>
		<string>*</string>
	</array>
	<key>DropTypes</key>
	<array>
		<string>****</string>
		<string>fold</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>InterpreterParams</key>
	<array/>
	<key>OutputType</key>
	<string>Text Window</string>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<false/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<true/>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUICwxUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABogkKVSRudWxsTxEVjiMhL2Jpbi9zaAojCgpVdGlsUGF0aD0iJDEvQ29u
	dGVudHMvUmVzb3VyY2VzLyIKRnVsbERyb3BOYW1lPSIkMiIgCkRpckRyb3BOYW1lPSQo
	ZGlybmFtZSAiJEZ1bGxEcm9wTmFtZSIpIApCYXNlRHJvcE5hbWU9JChiYXNlbmFtZSAi
	JEZ1bGxEcm9wTmFtZSIpIApIb21lRGlyPX4KClBST0dSQU09JChiYXNlbmFtZSAiJDEi
	KQpWZXJzaW9uPSIxLjMzIgpDcmVhdG9yPSJjVmFkIgpSZWxlYXNlZD0iMjAxMSIKQVNM
	VmVyc2lvbj1gIiR7VXRpbFBhdGh9aWFzbCIgfCBncmVwICJBU0wgT3B0aW1pemluZyBD
	b21waWxlciJgCkNvbXBpbGluZ0tleXM9Ii12byAtdzMgLW90IgpEZUNvbXBpbGluZ0tl
	eXM9Ii12byAtdzMgLTIgLW90IgoKClN5c3RlbVNwZWNNU0coKSB7CgojQmxvY2sgc2hv
	dyBzeXN0ZW0gc3BlY2lmaWNhdGlvbnMKS0VSTl9WZXJzaW9uPWBlY2hvICQoc3lzY3Rs
	IC1uIGtlcm4udmVyc2lvbiB8IGN1dCAtZCAiOyIgLWYxKWAKS2Vybk9TUmVsZWFzZT1g
	c3lzY3RsIC1uIGtlcm4ub3NyZWxlYXNlIHwgY3V0IC1kICIuIiAtZjFgCgpNT0RFTF9J
	RD1gc3lzY3RsIC1uIGh3Lm1vZGVsYAojU1dfVmVyc2lvbj1gZWNobyAkKHN3X3ZlcnMp
	YApUZXN0X1RpbWU9YGVjaG8gJChkYXRlICIrJVktJW0tJWQgJUg6JU06JVMgJXoiKWAK
	ClByb2R1Y3ROYW1lPWBzd192ZXJzIHxncmVwIFByb2R1Y3ROYW1lYApQcm9kdWN0VmVy
	c2lvbj1gZWNobyAkKHN3X3ZlcnMgfGdyZXAgUHJvZHVjdFZlcnNpb24pYApCdWlsZFZl
	cnNpb249YGVjaG8gJChzd192ZXJzIHxncmVwIEJ1aWxkVmVyc2lvbilgCgpVc2VyPSRV
	U0VSCktFUk5fSG9zdG5hbWU9YHN5c2N0bCAtbiBrZXJuLmhvc3RuYW1lYApLRVJOX0Jv
	b3RhcmdzPWBzeXNjdGwgLW4ga2Vybi5ib290YXJnc2AKCkNQVV9UWVBFPSJgc3lzY3Rs
	IC1uIG1hY2hkZXAuY3B1LmJyYW5kX3N0cmluZyB8IHNlZCAncy8gICovIC9nJ2AiCkNQ
	VV9GRUFUVVJFUz0iYHN5c2N0bCAtbiBtYWNoZGVwLmNwdS5mZWF0dXJlc2AgYHN5c2N0
	bCAtbiBtYWNoZGVwLmNwdS5leHRmZWF0dXJlc2AiCkNQVUZyZXF1ZW5jeV9NQVg9JCgo
	YHN5c2N0bCAtbiBody5jcHVmcmVxdWVuY3lfbWF4YC8xMDAwMDAwKSkKQ1BVRnJlcXVl
	bmN5X01JTj0kKChgc3lzY3RsIC1uIGh3LmNwdWZyZXF1ZW5jeV9taW5gLzEwMDAwMDAp
	KQpDUFVGcmVxdWVuY3k9JCgoYHN5c2N0bCAtbiBody5jcHVmcmVxdWVuY3lgLzEwMDAw
	MDApKQpCVVNGcmVxdWVuY3lGU0I9JCgoYHN5c2N0bCAtbiBody5idXNmcmVxdWVuY3lg
	LzEwMDAwMDApKQpCVVNGcmVxdWVuY3k9JCgoJEJVU0ZyZXF1ZW5jeUZTQi80KSkKTVVM
	VElQTElFUl9NQVg9JChlY2hvICJzY2FsZT0xOyA0KiRDUFVGcmVxdWVuY3lfTUFYLyRC
	VVNGcmVxdWVuY3lGU0IiIHwgYmMpCk1VTFRJUExJRVJfTUlOPSQoZWNobyAic2NhbGU9
	MTsgNCokQ1BVRnJlcXVlbmN5X01JTi8kQlVTRnJlcXVlbmN5RlNCIiB8IGJjKQoKTUVN
	U0laRT0kKChgc3lzY3RsIC1uIGh3Lm1lbXNpemVgLzEwNDg1NzYpKQpTd2FwVXNhZ2U9
	ImBzeXNjdGwgLW4gdm0uc3dhcHVzYWdlYCIKSGliZXJuYXRlTW9kZT0iYHN5c2N0bCAt
	biBrZXJuLmhpYmVybmF0ZW1vZGVgIgoKI0NQVSBGZWF0dXJlczogJENQVV9GRUFUVVJF
	UyAtIHJlbW92ZWQKY2F0IDw8IEVPRgpQcm9kdWN0TmFtZTogICBNYWMgT1MgWCAkUHJv
	ZHVjdFZlcnNpb24gJEJ1aWxkVmVyc2lvbgpLZXJuZWw6ICAgICAgICAkS0VSTl9WZXJz
	aW9uCkJvb3RhcmdzOiAgICAgICRLRVJOX0Jvb3RhcmdzCk1vZGVsIElEOiAgICAgICRN
	T0RFTF9JRApDUFUgVFlQRTogICAgICAke0NQVV9UWVBFfQpDb3JlOiAgICAgICAgICAk
	Q1BVRnJlcXVlbmN5X01BWCgkQ1BVRnJlcXVlbmN5X01JTikgTUh6IHggJE1VTFRJUExJ
	RVJfTUFYKCRNVUxUSVBMSUVSX01JTikgQnVzOiAkQlVTRnJlcXVlbmN5IE1IeiBGU0I6
	ICRCVVNGcmVxdWVuY3lGU0IgTUh6ClJBTTogICAgICAgICAgICRNRU1TSVpFIE1iClN3
	YXBVc2FnZTogICAgICRTd2FwVXNhZ2UKSGliZXJuYXRlTW9kZTogJEhpYmVybmF0ZU1v
	ZGUKVXNlcjogICAgICAgICAgJFVTRVIgb24gJEtFUk5fSG9zdG5hbWUKClN0YXJ0IHdv
	cmtpbmc6ICRUZXN0X1RpbWUKRU9GCgpjYXNlICIke0tlcm5PU1JlbGVhc2V9IiBpbgog
	ICAgWzAtOF0pCgkJZWNobyAiRGV0ZWN0ZWQgLi4uIHVuc3VwcG9ydGVkIE1BQyBPUyBY
	IHN5c3RlbS4iCiAgICAgICAgOzsKICAgIDkpCgkJZWNobyAiRGV0ZWN0ZWQgIC4uLiAg
	TUFDIE9TIFggXCJMZW9wYXJkXCIuIgogICAgICAgIDs7CiAgICAxMCkKCQllY2hvICJE
	ZXRlY3RlZCAgLi4uICBNQUMgT1MgWCBcIlNub3cgTGVvcGFyZFwiLiIKICAgICAgICA7
	OwogICAgMTEpCgkJZWNobyAiRGV0ZWN0ZWQgIC4uLiAgTUFDIE9TIFggXCJMaW9uXCIu
	IgogICAgICAgIDs7CiAgICBbMTItMjBdKQoJCWVjaG8gIkRldGVjdGVkICAuLi4gIE1B
	QyBPUyBYIFwiVW5rbm93blwiLiIKICAgICAgICA7Owplc2FjCmVjaG8KfQoKRXJyTVNH
	KCkgewkKCSNJZiB3ZSBnZXQgZXJyb3IgdGhlbiBwcmludCB0aGUgdXNhZ2UgbWVzc2Fn
	ZSBhbmQgZXhpdCB3aXRoIGEgbm9uLXplcm8gc3RhdHVzCgkKCW1lbW9NU0cKCXVzYWdl
	Cn0KCm1lbW9NU0coKSB7CgkjIFByb2dyYW1tIGF0dHJpYnV0ZXMKY2F0IDw8IEVPRgoK
	ICAgICAgICAgICAgICAgICAgICAgICAgLS0gaWFzbE1lIHYkVmVyc2lvbiDCqSAkQ3Jl
	YXRvciAkUmVsZWFzZWQgLS0KICAgICAgICAgICAgICAgICAgICAgICAgICAgICBNYWMg
	T1MgWCBMaW9uIHJlYWR5CiAgICAgICAgICAgICAgICAgICAgIC0gKERlKUNvbXBpbGlu
	ZyBBU0wgPC0+IEFNTCBmaWxlcyAtCiAgICAgICAtICRBU0xWZXJzaW9uIGluc2lkZSAt
	CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIGN2YWQtbWFjLm5hcm9kMi5ydQog
	ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgd3d3LmFwcGxlbGlmZS5ydQoKRU9G
	Cn0KCnVzYWdlKCkgewoJIyBVc2FnZSBmb3JtYXQKY2F0IDw8RU9GCgogICAgICAgIFVz
	YWdlOiAKCiAgICAgICAgRHJvcCBBTlkgZmlsZSB3aXRoIHZhbGlkIGV4dGVudGlvbiAo
	Ki5kc2w7ICouYW1sKQogICAgICAgIG9uIGFwcCBpY29uLgogICAgICAgIEl0IHdpbGwg
	YmUgQ29tcGlsZWQvRGVDb21waWxlZCBhbmQgcGxhY2VkIG5lYXIKICAgICAgICBpbnB1
	dCBmaWxlLgogCkVPRgp9Cgpjb21waWxlRmlsZSgpCQl7CgkKCUZ1bGxJbnB1dE5hbWU9
	IiQxIgoJRGlySW5wdXROYW1lPSQoZGlybmFtZSAiJHtGdWxsSW5wdXROYW1lfSIpCglC
	YXNlSW5wdXROYW1lPSQoYmFzZW5hbWUgIiR7RnVsbElucHV0TmFtZX0iKQoKCVNlc3Np
	b25OYW1lPSIkRGlySW5wdXROYW1lL1Nlc3Npb25zL2BkYXRlIFwiKyVZLSVtLSVkLSVI
	JU0lU1wiYCIKCW1rZGlyIC1wICIke1Nlc3Npb25OYW1lfSIKCQoJQmFzZVRhcmdldE5h
	bWU9IiR7QmFzZUlucHV0TmFtZSVkc2x9YW1sIgoJRnVsbFRhcmdldE5hbWU9IiR7U2Vz
	c2lvbk5hbWV9LyR7QmFzZVRhcmdldE5hbWV9IgoJRGlyVGFyZ2V0TmFtZT0kKGRpcm5h
	bWUgIiR7RnVsbFRhcmdldE5hbWV9IikKCgkKY2F0IDw8RU9GClRhc2s6CiBDb21waWxl
	ICAgIiR7RnVsbElucHV0TmFtZX0iCiB0byAgICAgICAgIiR7RnVsbFRhcmdldE5hbWV9
	Igogd2l0aCBrZXlzICIkQ29tcGlsaW5nS2V5cyIKRU9GCgplY2hvCmVjaG8gIlN0YXJ0
	IHdvcmtpbmcgLi4uIgplY2hvCgpwcmludGYgIkNvbXBpbGluZyAuLi4gIgoKIyIke1V0
	aWxQYXRofWlhc2wiIC12byAtdzMgLTIgLW90IC1wICIke0Z1bGxUYXJnZXROYW1lJS5k
	c2x9IiAgIiR7RnVsbElucHV0TmFtZX0iID4gIiR7RGlyVGFyZ2V0TmFtZX0vbG9nLnR4
	dCIKIiR7VXRpbFBhdGh9aWFzbCIgJENvbXBpbGluZ0tleXMgLXAgIiR7RnVsbFRhcmdl
	dE5hbWUlLmRzbH0iICAiJHtGdWxsSW5wdXROYW1lfSIgPiAiJHtEaXJUYXJnZXROYW1l
	fS9sb2cudHh0IgoKcHJpbnRmICJEb25lLlxuIgoKY2F0ICIke0RpclRhcmdldE5hbWV9
	L2xvZy50eHQiCgp9IAoKZGVDb21waWxlRmlsZSgpCQl7CgkKCUZ1bGxJbnB1dE5hbWU9
	IiQxIgoJRGlySW5wdXROYW1lPSQoZGlybmFtZSAiJHtGdWxsSW5wdXROYW1lfSIpCglC
	YXNlSW5wdXROYW1lPSQoYmFzZW5hbWUgIiR7RnVsbElucHV0TmFtZX0iKQoKCUJhc2VU
	YXJnZXROYW1lPSIke0Jhc2VJbnB1dE5hbWUlYW1sfWRzbCIKCUZ1bGxUYXJnZXROYW1l
	PSIke0Z1bGxJbnB1dE5hbWUlYW1sfWRzbCIKCURpclRhcmdldE5hbWU9IiR7RGlySW5w
	dXROYW1lfSIKCgkKY2F0IDw8RU9GClRhc2s6CiBEZUNvbXBpbGUgIiR7RnVsbElucHV0
	TmFtZX0iCiB0byAgICAgICAgIiR7RnVsbFRhcmdldE5hbWV9Igogd2l0aCBrZXlzICIk
	RGVDb21waWxpbmdLZXlzIgpFT0YKCmVjaG8KZWNobyAiU3RhcnQgd29ya2luZyAuLi4i
	CmVjaG8KCglpZiBbIC1lICIkRnVsbFRhcmdldE5hbWUiIF0KCQl0aGVuCgkJCXByaW50
	ZiAiQmFja1VwIGV4aXN0aW5nIFwiJHtCYXNlVGFyZ2V0TmFtZX1cIiB0byBcIiR7QmFz
	ZVRhcmdldE5hbWUlZHNsfWJhay5kc2xcIiAuLi4gIgoJCQltdiAtZiAiJEZ1bGxUYXJn
	ZXROYW1lIiAiJHtGdWxsVGFyZ2V0TmFtZSVkc2x9YmFrLmRzbCIKCQkJcHJpbnRmICJE
	b25lLlxuIgoJCQllY2hvCglmaQoKcHJpbnRmICJEZUNvbXBpbGluZyAuLi4gIgoKIiR7
	VXRpbFBhdGh9aWFzbCIgJERlQ29tcGlsaW5nS2V5cyAtZCAiJHtGdWxsSW5wdXROYW1l
	fSIgPiAiJHtEaXJUYXJnZXROYW1lfS9sb2cudHh0IgoKcHJpbnRmICJEb25lLlxuIgoK
	Y2F0ICIke0RpclRhcmdldE5hbWV9L2xvZy50eHQiCgp9IAoKCmVuZFByb2dyYW0oKSB7
	CgojICAgICAgIEhhdmUgYSBuaWNlIGRheShuaWdodCkgLi4uCgpjYXQgPDxFT0YKCiAg
	ICAgICAgQWxsIGRvbmUuCiAgICAgICAgRW5qb3kgLi4uCiAKRU9GCn0KCgptYWluKCkg
	ewoKIyBUZXN0IGlmIGRyb3AgcGFyYW1ldGVyIHJlY2lldmVkCgppZiBbIC1uICIke0Z1
	bGxEcm9wTmFtZX0iIF0KCXRoZW4KCgkJIyBmaWxlbmFtZSBleGlzdCwgdGVzdCBpZiBp
	dCBjb3JyZWN0LgoKCQljYXNlICIke0Jhc2VEcm9wTmFtZX0iIGluIAoJCQkjIGlmIGZp
	bGVuYW1lIG1hdGNoICouYW1sIHRoZW4gdW5wYWNrLgoJCQkqLmFtbCkgCgkJCQltZW1v
	TVNHCgkJCQlTeXN0ZW1TcGVjTVNHCgkJCQlkZUNvbXBpbGVGaWxlICIke0Z1bGxEcm9w
	TmFtZX0iCgkJCQllbmRQcm9ncmFtCgkJCQlleGl0IDAKCQkJCTs7IAoKCQkJIyBpZiBm
	aWxlbmFtZSBtYXRjaCAqLmRzbCBleHRlbnNpb25zCgkJCSouZHNsKSAKCQkJIyB0aGVu
	IGNvbXBpbGVGaWxlCgkJCQltZW1vTVNHCgkJCQlTeXN0ZW1TcGVjTVNHCgkJCQljb21w
	aWxlRmlsZSAiJHtGdWxsRHJvcE5hbWV9IgoJCQkJZW5kUHJvZ3JhbQoJCQkJZXhpdCAw
	CgkJCQk7OyAKCQoJCQkqKQoJCQkJRXJyTVNHCgkJCQllY2hvICIgICAgICAgIElucHV0
	IGZpbGU6ICR7RnVsbERyb3BOYW1lfSIKCQkJCWVuZFByb2dyYW0KCQkJCWV4aXQgMgog
	CQllc2FjIAoKZmkKfQoKIyMjIyBzY3JpcHQgZXhlY3V0aW9uIHJvdXRpbmUgIyMjIwoK
	bWFpbgoKRXJyTVNHCmVuZFByb2dyYW0KCmV4aXQgMgoSAAGGoF8QD05TS2V5ZWRBcmNo
	aXZlcgAIABEAFgAfACgAMgA1ADoAPAA/AEUV1xXcAAAAAAAAAgEAAAAAAAAADQAAAAAA
	AAAAAAAAAAAAFe4=
	</data>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
