<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
		</dict>
		<key>EnableC2</key>
		<true/>
		<key>EnableC4</key>
		<true/>
		<key>EnableC6</key>
		<true/>
		<key>FixDsdtMask</key>
		<string>0xFFFF</string>
		<key>GenerateCStates</key>
		<true/>
		<key>GeneratePStates</key>
		<true/>
		<key>HaltEnabler</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v npci=0x2000 slide=0 dart=0</string>
		<key>DefaultVolume</key>
		<string>OSX</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Log</key>
		<true/>
		<key>Timeout</key>
		<integer>10</integer>
		<key>XMPDetection</key>
		<string>0</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<true/>
			<key>USBFixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>DefaultBootVolume</key>
		<string>OSX</string>
		<key>HideEntries</key>
		<dict>
			<key>Duplicate</key>
			<true/>
			<key>ExternalUEFI</key>
			<true/>
			<key>Gentoo</key>
			<true/>
			<key>Grub</key>
			<true/>
			<key>InternalUEFI</key>
			<true/>
			<key>OSXInstall</key>
			<true/>
			<key>OpticalUEFI</key>
			<true/>
			<key>Ubuntu</key>
			<false/>
			<key>WindowsEFI</key>
			<false/>
		</dict>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>4</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>os_box</string>
		<key>Timeout</key>
		<string>30</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>InjectEDID</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>LogEveryBoot</key>
		<string>Yes</string>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>MountEFI</key>
		<true/>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro8,3</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<true/>
		<key>LegacyBoot</key>
		<string>PBR</string>
		<key>boot-args</key>
		<string>npci=0x2000 slide=0 dart=0</string>
		<key>prev-lang:kbd</key>
		<string>zh_CN:0</string>
	</dict>
</dict>
</plist>
