<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<string>mach_kernel</string>
	<key>SMBIOS</key>
	<string>/Extra/SMBIOS.plist</string>
	<key>config</key>
	<string>/Extra/com.apple.Boot.plist</string>
	<key>kext</key>
	<string>/Extra/Extensions</string>
</dict>
</plist>
